@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(221, 11, 11, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(221, 11, 11, 0.7);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(221, 11, 11, 0);
  }
}

@keyframes rotateAndScale {
  0% {
    transform: translate(0%, 0%) rotate(0) scale(0.5);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) scale(1);
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
