@media only screen and (max-width: 760px) {
  content {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-height: 520px) {
  content {
    height: 100vh;
  }
}

@media only screen and (max-width: 935px) {
  .gameSettings {
    right: 15% !important;
  }

  .panel {
    width: 70% !important;
    left: 15% !important;
    right: 15% !important;
  }
}

@media only screen and (max-width: 720px) {
  canvas,
  #start-endscreen {
    width: 100%;
    margin: 0;
  }

  .panel {
    width: 70% !important;
    left: 10% !important;
    right: 10% !important;
  }

  .gameSettings {
    right: 5% !important;
  }
}

@media only screen and (max-height: 480px) {
  canvas,
  #start-endscreen {
    height: 100vh;
    margin: 0;
  }

  #title {
    display: none;
  }

  .btn {
    transform: scale(0.8) !important;
  }

}

@media only screen and (max-height: 370px) {
  #fullscreen {
    transform: scale(0.9) !important;
  }
}

@media only screen and (max-width: 320px) {
  .content {
    width: 100% !important;
  }
}
