@media only screen and (max-width: 760px){
  content
  {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-height: 520px){  
    content{
      height: 100vh;
    }
}

@media only screen and (max-width: 720px){  
  canvas,
  #start-endscreen
  {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-height: 480px){  
  canvas,
  #start-endscreen{
    height: 100vh;
    margin: 0;
  }

  #title{
    display: none;
  }
}