@font-face{
  font-family: 'zabars';
  src:url('fonts/zabars.ttf') format('truetype');
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('img/desert.png') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.d-none{
  display: none !important;
}

#fullscreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  height: 100vh;
  position: relative;
}

h1{
  font-size: 64px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  margin-block-end: 0;
}

#start_endscreen{
  margin-top: 85px;
  position: absolute;
  z-index: 3;
  animation: rotateAndScale 0.5s linear forwards;   
  object-fit: cover;
  aspect-ratio: 1.5;
  width: calc(100% - 40px);  
  height: auto;
}

canvas{
  display: block;
  margin: 20px;  
}

#navigation{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  /* height: 100%; */
  z-index: 3;
  bottom: -20px;
  /* position: absolute; */
}

.alarm {
	background: red;	
	margin: 20px;
	box-shadow: 0 0 0 0 rgb(221, 11, 11);
	animation: pulse 1.2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 1);
	}

	70% {		
		box-shadow: 0 0 0 15px rgba(221, 11, 11, 0.7);
	}

	100% {		
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 0);
	}
}

@keyframes rotateAndScale {
  0% {
    transform: translate(0%, 0%) rotate(0) scale(0.5);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) scale(1);
  }
}

@media only screen and (max-width: 720px){
  canvas,
  #start_endscreen
  {
    width: 100%;
  }
}

@media only screen and (max-height: 480px){
  canvas,
  #start_endscreen{
    height: 100vh;
  }

  #start_endscreen{
    margin-top: 0;
  }

  #title{
    display: none;
  }
}