@font-face{
  font-family: 'zabars';
  src:url('fonts/zabars.ttf') format('truetype');
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('img/desert.png') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  height: 100vh;
}

.d-none{
  display: none !important;
}

#fullscreen{
  display: flex;  
  align-items: center;
  justify-content: center;  
  position: relative;  
  flex-direction: column;  
  overflow: hidden;
}

h1{
  font-size: 64px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  margin-block-end: 0;
}

.content{
  width: 760px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#start_endscreen{  
  position: absolute;
  z-index: 3;
  animation: rotateAndScale 0.5s linear forwards;   
  object-fit: cover;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 480px;
  width: 720px;
}

.btn {
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 4px;
  border-style: 1px solid white;
  text-align: center;
  background-color: #e98f36;
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  font-family: 'zabars';  
  top: 50px;
  position: absolute;
  z-index: 4;
  overflow: hidden;
}

canvas{
  display: block;
  margin: 20px;
}

#navigation{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);  
  z-index: 3;
  bottom: 40px;
  position: relative;
}

.nav{
  background-color: blue;
  gap: 108px;
}

.navigation-icon{
  background-color: red;
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
}

.alarm {
	background: red;	
	margin: 20px;
	box-shadow: 0 0 0 0 rgb(221, 11, 11);
	animation: pulse 1.2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 1);
	}

	70% {		
		box-shadow: 0 0 0 15px rgba(221, 11, 11, 0.7);
	}

	100% {		
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 0);
	}
}

@keyframes rotateAndScale {
  0% {
    transform: translate(0%, 0%) rotate(0) scale(0.5);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) scale(1);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media only screen and (max-width: 760px){
  content
  {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-height: 520px){  
    content{
      height: 100vh;
    }
}

@media only screen and (max-width: 720px){  
  canvas,
  #start_endscreen
  {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-height: 480px){  
  canvas,
  #start_endscreen{
    height: 100vh;
    margin: 0;
  }

  #title{
    display: none;
  }
}