@font-face{
  font-family: 'zabars';
  src:url('fonts/zabars.ttf') format('truetype');
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('img/desert.png') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
}

#fullscreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;   */
  height: 100vh;
}

h1{
  font-size: 64px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

#start_endscreen{
  width: 720px;
  height: 480px;
  background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
}

canvas{
  background-color: black;
  display: block;
  margin: 20px;
}

.alarm {
	background: red;	
	margin: 20px;
	box-shadow: 0 0 0 0 rgb(221, 11, 11);
	animation: pulse 1.2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 1);
	}

	70% {		
		box-shadow: 0 0 0 15px rgba(221, 11, 11, 0.7);
	}

	100% {		
		box-shadow: 0 0 0 0 rgba(221, 11, 11, 0);
	}
}

@media only screen and (max-width: 720px){
  canvas{
    width: 100%;
  }
}

@media only screen and (max-height: 480px){
  canvas{
    height: 100vh;
  }

  #title{
    display: none;
  }

}