@import url('css/animation.css');
@import url('css/media.css');

@font-face{
  font-family: 'zabars';
  src:url('fonts/zabars.ttf') format('truetype');
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('img/desert.png') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  height: 100vh;
}

.d-none{
  display: none !important;
}

#fullscreen{
  display: flex;  
  align-items: center;
  justify-content: center;  
  position: relative;  
  flex-direction: column;
  overflow: hidden;  
  background: none;  
  background-position: center;
}

h1{
  font-size: 64px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  margin-block-end: 0;
}

.content{
  width: 760px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#start-endscreen{  
  position: absolute;
  z-index: 3;
  animation: rotateAndScale 0.5s linear forwards;   
  object-fit: cover;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 480px;
  width: 720px;
}

.blur {  
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#help{
  z-index: 9;
  color: white;
  width: 75%;
  text-align: left;
  position: absolute;
  margin-top: 15%;
}

th{
  text-decoration: underline;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;  
  border-radius: 6px;
  border: 2px solid white;
  text-align: center;
  background-color: #e98f36;
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  font-family: 'zabars';  
  position: absolute;
  z-index: 4;
  overflow: hidden;
}

.btn:hover{
  scale: 1.1;
}

.btn span{
  font-size: 14px;
  letter-spacing: 1px;
}

.btn span:first-child {
  font-size: 26px;
}

#typewriter-text{
  font-size: 40px !important;
}

#startBtn{
  height: 45px;
  width: 150px;
  top: 8%;
  left: 5%;
}

#restartBtn{
  top: 50px;
}

.whiteBorder{
  border: 1px solid white;
}

#loadGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#loadGame img{
  height: 70px;
  width: 70px;
}

#loadGame img,
#restartBtn img {
  animation: rotateAnimation 2s linear infinite;
}

#help,
#loadGameText{
  font-size: 32px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

#throwBtn img{
  transform: scale(1.5) rotate(0deg);
}

#throwBtn img:hover{
  transform: scale(1.5) rotate(5deg);
}

.gameSettings{
  top: 5%;  
  display: flex;    
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: 70px;
  z-index: 9;
  position: absolute;
  right: 5%;
  justify-content: flex-end;
  gap: 8px;
}

.gameSettings button{
  position: relative;
  top: 0;
  height: 45px;
  width: 45px;
}

.gameSettings button img,
.touchBtnLeft button img,
.touchBtnRight button img{
  object-fit: fill;
  overflow: hidden;
}

.panel{
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
  height: 70px;
  z-index: 9;
  position: absolute;
  left: 5%;
  right: 5%;
}

.touchBtnLeft,
.touchBtnRight { 
  display: flex;    
  align-items: center;  
  flex-direction: row;  
  height: 70px;
  z-index: 9;
  width: 50%;
  gap: 8px;
}

.touchBtnLeft { 
  justify-content: flex-start;  
}
.touchBtnRight { 
  justify-content: flex-end;
}

.touchBtnRight button,
.touchBtnLeft button{
  height: 45px;
  width: 45px;
  position: relative;
}

canvas{
  display: block;
  margin: 20px;
}

.alarm {
	background: red;	
	margin: 20px;
	box-shadow: 0 0 0 0 rgb(221, 11, 11);
	animation: pulse 1.2s infinite;
}