body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas{
  background-color: black;
  display: block;
}

@media only screen and (max-width: 720px){
  canvas{
    width: 100%;
  }
}

@media only screen and (max-height: 480px){
  canvas{
    height: 100vh;
  }

  #title{
    display: none;
  }

}